{% extends "_layout" %}

{% block content %}
  <h1 class="text-4xl text-black font-display my-4">Add Your Guide Today</h1>

  <div class="flex -mx-4">
    <div class="w-1/2 px-4">
    {{ craft.freeform.form("guideSubmit").render() }}

    </div>
    <div class="w-1/2 px-4">
      <div>

</div>

    </div>
  </div>
{% endblock %}