{% extends "_layout" %}

{% block content %}
  <h1 class="text-4xl text-black font-display my-4">Downloads</h1>
<div class="post-list my-10 flex">   

Latest Downloads 

      <div>


</div>

    </div>
  </div>
{% endblock %}