{% extends "_layout" %}

{% block content %}
  <h1 class="text-4xl text-black font-display my-4">{{ entry.title }} Your Picture Today</h1>
<div class="post-list my-10 flex">   


 {{ craft.freeform.form("email").render() }}
      <div>


</div>

    </div>
  </div>
{% endblock %}